.navbar-section{
    display: flex;
    flex-direction: row;
    gap: 55%;
    padding-left: 100px;
    padding-top: 15px;
    /*background-color: aqua;*/
    height: 45px;
    width: auto;
}

.navbar-components{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.navbar-logo{
    font-weight: 700;
    font-size: larger;
}

.nav-link{
    text-decoration: none;
    color: black;
}

.nav-link-active{
    color: black;
    text-decoration: underline black;
    font-weight:500;
}
