{% extends 'base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="forgot-pswd-container">
    <h1 class="forgot-pswd-heading">Forgot Password</h1>
    <form action="{{ url_for('forgot_password') }}" method="post">
        <label class="forgot-pswd-input">Username:
        <input type="text" name="username" required></label><br>
        <button type="submit" class="forgot-pswd-btn">Request Password Reset</button>
    </form>
</div>
{% endblock %}
