{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="reset-pswd-container">
    <h1 class="reset-pswd-heading">Reset Password</h1>
    <form action="{{ url_for('reset_password') }}" method="post">
        <label class="reset-pswd-input">New Password:
        <input type="password" name="new_password" required></label><br>
        
        <label class="reset-pswd-input">Confirm New Password:
        <input type="password" name="confirm_password" required></label><br>
        
        <button type="submit" class="reset-pswd-btn">Reset Password</button>
    </form>
</div>
{% endblock %}
